<<<<<<< HEAD
<!DOCTYPE html> 
<html> 
<head> 
<%- include ('./partials/header') %> 
</head> 
<body> 
 <h1>index</h1>

 <%- include ('./partials/sports_partial', {news:news}) %>


<div class="chatbox-div-index">
    <%- include ('./partials/chatbox') %> 
</div>

<%- include ('./partials/footer') %> 
</body> 
=======
<!DOCTYPE html>
<html>

<head>

    <%- include ('./partials/header') %>
</head>

<body>
    <h1>index</h1>


</body>
<%- include ('./partials/footer') %>

>>>>>>> be59a0765b89a67d5a549e66f0800e36cbcb11a6
</html>