<!DOCTYPE html> 
<html> 
<head> 
<%- include ('./partials/header') %> 
</head> 
<body> 
    <%- include ('./partials/sports_partial', {news:news}) %>
    <hr/>
    <%- include ('./partials/weather_partial', {result:weather}) %>
    
    


    <div class="chatbox-div-index">
        <%- include ('./partials/chatbox') %> 
    </div>

    <%- include ('./partials/footer') %> 
</body> 
</html>